@import "tailwindcss";

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayamineral-expert/fonts/Brandon_reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayamineral-expert/fonts/Brandon_blk.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("/apps/abbott/dayamineral-expert/fonts/Brandon_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@theme{
  --color-purple-dark: #ae0061;
  --color-purple-light: #fd0015;
  --color-orange-light: #de8a17;

  --gradient-purple: 90deg, var(--color-orange-light) 0%, var(--color-purple-light) 50%, var(--color-purple-dark) 100%;

  --font-brandon: "Brandon", sans-serif;
  --font-georgia: Georgia, serif;

  --breakpoint-xs: 26rem;
}


